html {
    background-color: #d7ccc8;
    display: flex;
    justify-content: center;
}

.loader{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(110%);
    transition: transform 0ms ease-out;
}

.duck{
    z-index: 2;
    animation: duck_around 2s linear infinite;
    transition: transform 300ms linear;
}

@keyframes duck_around{
    from { 
        -webkit-transform: translateX(327px) rotate(0deg) translateX(90px) rotate(90deg); 
        
        transform:translateX(327px) rotate(0deg) translateX(90px) rotate(90deg); 
        
    }
    to   {  
        -webkit-transform:translateX(327px) 
         rotate(360deg) translateX(90px) rotate(90deg); 
        
        transform:translateX(327px) rotate(360deg) translateX(90px) rotate(90deg); 
    }
}

.wind{
    z-index: 1;
    animation: wind 2s linear infinite;
    animation-delay: 30ms;
    transition: transform 300ms linear;
}

@keyframes wind{
    from { 
        -webkit-transform: translateX(285px) rotate(0deg) translateX(90px) rotate(90deg);
        
        transform:translateX(285px) rotate(0deg) translateX(90px) rotate(-90deg); 
    }
    to   {  
        -webkit-transform:
        translateX(285px)  rotate(360deg) translateX(90px) rotate(90deg); 
        
        transform:translateX(285px) rotate(360deg) translateX(90px) rotate(-90deg); 
    }
}
.coffee_step3{
    animation: step3 6s linear infinite;
    animation-delay: 300ms;
    transition: transform 300ms linear, opacity 300ms;
}

@keyframes step3{
    from { 
        -webkit-transform: translateX(-120%) rotate(0deg); 
        
        transform: translateX(-120%)rotate(0deg); 
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    to  {  
        -webkit-transform:translateX(-120%) rotate(360deg); 
        transform: translateX(-120%) rotate(360deg); 
        opacity: 1;
    }
}

.coffee_step2{
    animation: step2 6s linear infinite;
    transition: transform 300ms linear, opacity 30ms;
}

@keyframes step2{
    from { 
        -webkit-transform:translateX(-20%)  rotate(0deg); 
        transform: translateX(-20%)  rotate(0deg); 
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    to  {  
        -webkit-transform:translateX(-20%)  rotate(360deg); 
        transform: translateX(-20%)  rotate(360deg); 
        opacity: 0;
    }
}



.coffee_step1{
    animation: step1 6s linear infinite;
    animation-delay: 300ms;
    
    transition: transform 300ms linear, opacity 30ms;
}

@keyframes step1{
    from { 
        -webkit-transform:rotate(0deg); 
        transform: translateX(80%)  rotate(0deg); 
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    to  {  
        -webkit-transform:rotate(360deg); 
        transform:translateX(80%)   rotate(360deg); 
        opacity: 0;
    }
}

